= simple_form_for(@profile, remote: local_assigns[:remote], format: local_assigns[:use_json] ? :json : :html) do |f|
  = f.error_notification
  .form-inputs.container-fluid.padded
    .row-fluid
      .span12
        = f.label :name
        = f.input_field :name
        %span.help-inline.instructions
          Give your new profile a name so you can refer to it in the future.
    .row-fluid
      .span12
        = f.input :max_calls
        = f.input :calls_per_second
        = f.input :max_concurrent
        = f.input :transport_type, collection: TransportType.select_options
  .form-actions
    = f.button :submit, class: 'btn-default'
