= simple_form_for(@profile, html: {class: 'form-horizontal'}, remote: local_assigns[:remote], format: local_assigns[:use_json] ? :json : :html) do |f|
  = f.error_notification
  .form-inputs.container-fluid.padded
    .row-fluid
      .span12
        = f.input :name, hint: 'Give your new profile a name so you can refer to it in the future.'
    .row-fluid
      .span12
        = f.input :max_calls
        = f.input :calls_per_second
        = f.input :max_concurrent
        = f.input :transport_type, collection: TransportType.select_options
        %hr
        %p Optional: increase the calls-per-second rate linearly
        = f.input :calls_per_second_incr, label: 'Increment (per Interval)'
        = f.input :calls_per_second_interval, label: 'Interval (seconds)', hint: 'The CPS will be increased by the Increment each Interval'
        = f.input :calls_per_second_max, label: 'Maximum CPS'
  .form-actions
    = f.button :submit, class: 'btn-default'
