- content_for(:page_icon) { "icon-bar-chart" }
- content_for(:page_title) { "Listing Profiles" }
= render "layouts/page_header"
.container-fluid.padded
  .row-fluid
    .span12
      .box
        .box-header
          %span.title Profiles
          %ul.box-toolbar
            %li= link_to "", new_profile_path, class: 'btn btn-success icon-plus', title: 'Create new'
        .box-content.data-grid
          %table.table.datatable.table-normal
            %thead
              %tr
                %td Name
                %td Max calls
                %td Calls per second Initial
                %td Calls per second Max
                %td Calls per second Increment/Interval
                %td Max concurrent
                - if current_user.admin_mode
                  %td Owned by
                %td Transport type
                %td.action-header

            %tbody
            - @profiles.each do |profile|
              %tr
                %td= profile.name
                %td= profile.max_calls
                %td= profile.calls_per_second
                %td= profile.calls_per_second_max
                %td
                  - if profile.calls_per_second_incr
                    = profile.calls_per_second_incr
                    \/
                    = profile.calls_per_second_interval
                %td= profile.max_concurrent
                - if current_user.admin_mode
                  %td= profile.user.full_name if profile.user
                - if profile.transport_type.blank?
                  %td No transport type specified.
                - else
                  %td= profile.transport_type.text
                %td
                  .btn-group
                    = link_to '', profile, class: 'btn btn-info icon-eye-open', title: 'Show'
                    - if profile.writable?
                      = link_to '', edit_profile_path(profile), class: 'btn btn-warning icon-edit', title: 'Edit'
                    - else
                      %a{"data-original-title" => "Read-only: in use by #{pluralize(profile.test_runs.count, 'test run')}", "data-placement" => "bottom", "data-toggle" => "tooltip", :href => "#", :title => ""}
                        %span{class: 'btn btn- icon-edit', disabled: "disabled"}
                    = link_to '', "/profiles/#{profile.id}/copy", class: 'btn alert-info icon-copy', title: "Clone"
                    = link_to '', profile, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger icon-trash', title: 'Delete'
          .table-footer
            = paginate @profiles, theme: 'table'

:javascript
  $(function() {
    $('.datatable').dataTable({
      "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
      "sPaginationType": "bootstrap",
      "bDestroy": true,
      "bStateSave": true,
      "bAutoWidth": false,
      "aoColumns": [
        {},
        {},
        {},
        {},
        {},
        { "bSortable": false }
      ]
    });
  });
  $('[data-toggle=tooltip]').tooltip();
  $('span[disabled=disabled]').css('cursor','help');
